@import '../../styles/vars';

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: left;
    padding: 0.5em 1em;
    width: 350px;
    height: 220px;
    color: white;
    text-decoration: none;
    border-radius: 20.7538px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    overflow: hidden;

    &:hover {
        transform: translateY(-7px);
    }

    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // z-index: -1;
        transition: 0.4s;
    }

    & .card-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 2em;
        padding: 25px;
        width: 382px;
        height: 50px;
        text-align: center;
        // background-color: red;
        background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4), rgba(0,0,0,0.6), rgba(0,0,0,0.7));
        transform: translateY(50%);
        transition: 0.4s;
    }
    & .favorite-icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -125px;
        right: 45px;
        margin-left: 1em;
        font-size: 1.8rem;
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1));
        transition: color 300ms ease;

        &:hover {
            color: #7867B1;
        }

        & .filled-icon {
            color: #7867B1;
        }
    }
}
