@import '../../styles/vars';

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    width: 350px;
    height: 220px;
    color: white;
    text-decoration: none;
    border-radius: 20.7538px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: $hautducorps;
    transition: all 0.3s ease 0s;

    &:hover {
        transform: translateY(-7px);
    }
}