@import '../../styles/vars';

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    width: 350px;
    height: 220px;
    color: white;
    text-decoration: none;
    border-radius: 20.7538px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: $hautducorps;
    transition: $transition-200;

    &:hover {
        transform: translateY(4px);
    }
}






// .card {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 0.5em 1em;
//     width: 350px;
//     height: 220px;
//     color: white;
//     text-decoration: none;
//     border-radius: 20.7538px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
//     // background-color: $hautducorps;
//     transition: $transition-200;

//     & div {
//         margin: 0;
//         padding: 0;
//         width: 300px;
//     }

//     &:hover {
//         transform: translateY(-4px);
//     }

//     & img {
//         pointer-events:none;
//         position: relative;
//         bottom: 28px;
//         left: 43px;
//         width: 260px;
//         height: 260px;
//     }
// }