@import '../../styles/vars';

.Stretches {

    & .nav-container {
        margin: auto;
    }

    & .Wrapper {
    
        & .Wrapper h1 {
            width: 70%;
        }
    
        & .Wrapper p {
            width: 35%;
        }
    }

    & input {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 18px;
        margin-bottom: 80px;
        padding: 0.5em 2em;
        width: 20%;
        height: 45px;
        color: $purple-color;
        border-radius: 43px;
        border: none;
        font-size: 0.9rem;
        font-family: $primary-font;
        box-shadow: $box-shadow;
        transition: $transition-300;

        &:focus {
            outline: none;
            transform: translateY(4px);
        }

        &:hover {
            transform: translateY(4px);
        }
    }

    & .stretches-container {
        
        & h2 {
            margin-bottom: 1em;
        }
        
        & ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2em;
        }

        & .see-more {
            cursor: pointer;
            position: relative;
            top: 0;
            right: 25px;
            padding: 8px;
            width: 30px;
            height: 30px;
            color: white;
            font-size: 3rem;
            border-radius: 50%;
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
            background-color: $purple-color;
            transition: $transition-200;

            &:hover{
                transform: scale(1.2);
            }
        }

    }
}
.add-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.add-stretch-btn {
margin: 0 auto;
border-radius: 20px;
background-color: #9c5fff3a;
border: none;
box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
padding: 15px;
text-decoration: none;
cursor: pointer;
transition: $transition-200;;
}
.add-stretch-btn:hover {
    transform: translateY(4px);
}