@import '../../styles/vars';

.HumanBody {
    div {
        width: 207px;
        position: relative;
        padding-top: 240px;
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px auto;
    
        & svg:hover {
            cursor: pointer;
        }

        & svg:hover path {
            fill: $purple-color;
        }

        & svg {
            position: absolute;
            left: 50%;
            fill: $light-purple-color;
        }

        & svg.head {
            margin-left: -28.5px;
            top: -6px;
        }

        & svg.shoulder {
            margin-left: -53.5px;
            top: 69px;
        }

        & svg.arm {
            margin-left: -78px;
            top: 112px;
        }

        & svg.cheast {
            margin-left: -43.5px;
            top: 88px;
        }

        & svg.stomach {
            margin-left: -37.5px;
            top: 130px;
        }

        & svg.legs {
            margin-left: -46.5px;
            top: 205px;
            z-index: 9999;
        }

        & svg.hands {
            margin-left: -102.5px;
            top: 224px;
        }
    }
}
.main-body{
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}

.legs-cards{
    position: absolute;
    display: flex;
    justify-content: space-between;
    height:100%;
    width: 100%;
    margin: 0 auto;
}
.right-legs-cards{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    justify-content: space-between;
}
.left-legs-cards{
    margin-left: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head-cards{
    position: absolute;
    right: 0;
    margin-right: 15%;
}
.arm-cards{
    position: absolute;
    right: 0;
    margin-right: 15%;
}
.cheast-cards{
    position: absolute;
    right: 0;
    margin-right: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stomach-cards{
    position: absolute;
    margin-left: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shoulder-cards{
    position: absolute;
    margin-left: 15%;
}

