.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box-container{
    width: 40%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

}
img{
    width: 50px;
}
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%; 
}
input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #9c5fff30;
    border-radius: 20px;
}
button {
    border-radius: 20px;
    color: white;
    background-color: #9C5FFF;
    border: none;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 30px;
    margin-top: 30px;
    cursor: pointer;
}
.signup{
    border-radius: 20px;
    width: 40%;
    height: 30px; 
    border: 1px solid #9c5fff30;
    color: black;
    outline: none;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}