@import '../../styles/vars';

.Form {
  margin: auto;
  margin-top: 4%;
  padding: 0 50px 0 50px;
  width: 700px;
  border: 3px solid white;
  border-radius: 43px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: white;

  & div {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 83px;
    margin-top: 25px;

    & label {
      margin-bottom: 7px;
      font-weight: 600;
    }

    & input {
      padding: 10px;
      border: none;
      border-radius: 10px;
      height: 50px;
      font-size: 14px;
      font-weight: 500;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      font-family: 'Poppins', sans-serif;
    }

    & textarea {
      padding: 15px 0 0 10px;
      border: none;
      border-radius: 10px;
      height: 50px;
      font-size: 14px;
      font-weight: 500;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      font-family: 'Poppins', sans-serif;
    }
  }

  & button {
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    width: 450px;
    height: 40px;
    max-width: 500px;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: $purple-color;
    transition: $transition-300;

    &:hover {
      transform: translateY(3px) scale(1.1);
    }
  }
}