.nav-container{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
	align-items: center;
    border-radius: 20px;
    background-color: #EAE2F7;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    position: relative;
}
img{
    height: 75%;
}
.home{
    margin-right: 20px;
    color: black;
    outline: none;
  text-decoration: none;
}
.stretches{
    padding-left: 20px;
    color: black;
    outline: none;
  text-decoration: none;
}
.login-profile{
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}
.login{
    color: black;
    outline: none;
    text-decoration: none; 
}
.space {
    color: black;
    outline: none;
  text-decoration: none;

}
.user{
    transform: translateY(15%);
    width: 40px;
    cursor: pointer;

}
.menu{
        position: absolute;
        right: -6px;
        top: 58px;
        border: 1px solid grey;
        width: 150px;  
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        background-color: white;
        border:none;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
}