@import '../../styles/vars';

.nav-container {
  margin: auto;
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #EAE2F7;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: $box-shadow;

  & img {
    height: 75%;
  
    &:hover {
      animation: spin 2s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home {
  margin-right: 20px;
  color: black;
  outline: none;
  text-decoration: none;
}

.stretches {
  padding-left: 20px;
  color: black;
  outline: none;
  text-decoration: none;
}

.login-profile {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: $box-shadow;
}

.login {
  color: black;
  outline: none;
  text-decoration: none;
}

.space {
  color: black;
  outline: none;
  text-decoration: none;
  padding-left: 10px;
}

.user {
  transform: translateY(15%);
  margin-left: 15px;
  padding-right: 5px;
}