.bienvenue{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;

}
.box{
    margin: 0 auto;
    width: 70%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px; 
}

.MySpace {
        & .my-favorites {
            position: absolute;
            width: 209px;
            height: 45px;
            left: 616px;
            top: 747px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 124.5%;
            text-align: center;
            color: #000000;

        }
    }
    .infos-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
    }

    .infos{
        margin: 10px;
        padding: 10px;
        width: 50%;
        border: 1px solid #9c5fff30;
        border-radius: 20px;
    }
    .modify-btn {
        border-radius: 20px;
        color: white;
        background-color: #9C5FFF;
        border: none;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);   
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .delete-account-btn {
        border-radius: 20px;
        color: white;
        background-color: #ba788a;
        border: none;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);   
        padding: 15px;
        cursor: pointer;
    }
.bookmarks-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}
.card-container{
    margin-right: 20px;
    position: relative;
}
.delete-btn{
    position: absolute;
    border-radius: 20px;
    top: 10px;
    left: 10px;
}