.MySpace {


    & .my-infos {
        position: absolute;
        width: 320px;
        height: 45px;
        left: 560px;
        top: 215px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 124.5%;
        text-align: center;
        color: #000000;

        & .my-favorites {
            position: absolute;
            width: 209px;
            height: 45px;
            left: 616px;
            top: 747px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 124.5%;
            text-align: center;
            color: #000000;

        }
    }
}