@import '../../styles/vars';

.Stretch {

    & .stretch-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 27px;
        grid-row-gap: 27px;
        margin: auto;
        margin-top: 2em;
        width: 1200px;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;

        & img {
            width: 500px;
            height: 500px;
            border-radius: 10%;
            object-fit: cover;
        }

        & .stretch-infos {
            text-align: left;

            & h1 {
                margin-bottom: -0.2em;
            }
            & p {
                font-size: 1.1rem;
                font-weight: 400;
                font-style: italic;
            }
        }
    }
}