// Couleurs
$purple-color: #7867B1;
$light-purple-color: #B3A7D6;
$gold-color: #FDECD6;

// Fonts
$primary-font: 'Poppins', sans-serif;

// Card étirements
$hautducorps: #7867B1;
$dos: #73AEAE;
$basducorps: #FDECD6;

// Autres
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$transition-200: all 200ms ease-in-out;
$transition-300: all 300ms ease-in-out;