// Import des variables
@import './vars';

// RESPONSIVES BREAKPOINTS
// Mobile devices – 320px — 480px
@media screen and (min-width: 320px) and (max-width: 480px) {
    .Home {
        & .Wrapper {
            & h1 {
                margin-top: -0.5em;
                width: 100%;
                font-size: 3rem;
            }

            & p {
                width: 100%;
            }
        }
    }

    .Stretches {
        .Wrapper {

            & h1 {
                width: 100%;
                font-size: 2.8rem;
            }

            & p {
                width: 100%;
                font-size: 1rem;
            }
        }

        & input {
            margin-bottom: 3em;
            width: 100%;
        }

        & .stretches-container {

            & h2 {
                text-align: center;
            }
            & .category {
                & ul {
                    margin: 0;
                    padding: 0;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 27px;

                    & .card {
                        width: 240px;
                        height: 170px;
                    }
                }
            }
        }
    }

    .Stretch {
        margin: 0;
        padding: 0;

        & .stretch-container {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            width: 500px;

            & .stretch-image-container {
                margin-top: 2em;
                display: flex;
                justify-content: flex-start;

                & img {
                    width: 273px;
                    height: 273px;
                }
            }

            & .stretch-infos {
                margin: 0;
                width: 55%;

                & h1 {
                    margin-top: -0.1em;
                    margin-bottom: 1em;
                    font-size: 1.5rem;
                }

                & p {
                    background-color: red;
                }
            }
        }
    }

    .login {
        
        & .box-container {
            width: 100%;

            & button {
                width: 80%;
            }

            & .signup {
                width: 80%;
            }
        }
    }

    .ErrorPage {
        & img {
            width: 100%;
        }
    }
}

// iPads, Tablets – 481px — 768px
@media screen and (min-width: 481px) and (max-width: 768px) {
    .Home {
        & .Wrapper {
            & h1 {
                width: 100%;
                font-size: 3.5rem;
            }

            & p {
                width: 100%;
            }
        }
    }

    .Stretches {
        .Wrapper {
            & h1 {
                width: 100%;
                font-size: 4.5rem;
            }

            & p {
                width: 100%;
                font-size: 1.2rem;
            }
        }

        & input {
            margin-bottom: 4em;
            width: 80%;
        }

        & .stretches-container {

            & .category {

                & h2 {
                    text-align: center;
                }
                & ul {
                    margin: auto;
                    width: 350px;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 27px;

                    & .card {
                        width: 280px;
                        height: 190px;
                    }
                }
            }
        }
    }

    .login {
        
        & .box-container {
            width: 100%;

            & button {
                width: 70%;
            }

            & .signup {
                width: 70%;
            }
        }
    }

    .Stretch {
        margin: 0;
        padding: 0;

        & .stretch-container {
            flex-direction: column;
            padding: 1em;

            & .stretch-ilustration-container {
                width: 450px;
                height: 450px;
            }
        }

        & .stretch-infos {
            margin: 0;
            width: 100%;

            & h1 {
                width: 100%;
                text-align: center;
            }

            & p {
                margin: 0;
                width: 100%;
            }
        }
    }

    .ErrorPage {
        & img {
            width: 100%;
        }
    }
}

// Small screens, laptops – 769px — 1024px
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .Home {
        .Wrapper {
            & h1 {
                width: 100%;
            }

            & p {
                width: 80%;
            }
        }
    }

    .Stretches {
        .Wrapper {
            & h1 {
                width: 95%;
            }

            & p {
                width: 80%;
            }
        }

        & input {
            margin-bottom: 5em;
            width: 45%;
        }

        & .stretches-container {

            & .category {

                & h2 {
                    margin-bottom: 1em;
                    text-align: center;
                    font-size: 2rem;
                }
                & ul {
                    margin: auto;
                    width: 800px;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 1fr;

                    & .card {
                        width: 320px;
                        height: 230px;
                    }
                }
            }
        }
    }
}

// Desktops, large screens – 1025px — 1200px
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .Stretches {
        .Wrapper {
            & h1 {
                width: 95%;
            }

            & p {
                width: 80%;
            }
        }

        & input {
            margin-bottom: 5em;
            width: 45%;
        }

        & .stretches-container {

            & .category {

                & h2 {
                    margin-bottom: 1em;
                    text-align: center;
                    font-size: 2rem;
                }
                & ul {
                    margin: auto;
                    margin-right: 3.3em;
                    justify-content: center;
                    align-items: center;
                    width: 900px;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: 1fr;

                    & .card {
                        width: 300px;
                        height: 210px;
                    }
                }
            }
        }
    }
}



body {
    padding: 1em;
    font-family: 'Poppins', sans-serif;
    background: rgb(234,226,247);
    background: linear-gradient(90deg, rgba(234,226,247,1) 0%, rgba(253,236,214,1) 100%);
}